<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File-Crawler</title>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/search.css">
</head>
<body>
    <div class="container-search"> 
        <div>
            <form class="search-form" id="searching-form">
                <span>File Crawler WEB</span>
                <div>
                    <input type="text" name="path" id="path" placeholder="Path to search" required="required">
                </div>
                <div>
                    <input type="text" name="word" id="word" placeholder="Word to be search" required="required">
                </div>
                <a href="#">Start searching</a>
                <button type="submit" class="btn-search">Search</button>
            </form>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/search.js"></script>
</body>

</html>